<!--
          /\\\        /\\\\\\\\\\\
          \/\\\      /\\\\////////\\\
           \/\\\     \/\\\       \///
            \/\\\     \/\\\
             \/\\\     \/\\\     /\\\\\\
              \/\\\     \/\\\    \////\\\
        /\\\   \/\\\     \/\\\       \/\\\
        \/\\\\\\\\\\\ /\\ \/\\\\\\\\\\\\\/ /\\
         \/////////// \//  \/////////////  \//
 -->
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>
    Jordan George
    <% if (title.length > 0) { %>
      – <%= title %>
    <% } %>
  </title>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <% include ./nav %>
