<nav>
  <ul>
    <li>
      <a class="<% if (title.toLowerCase() == "blog" || flag) { %>active<% } %>" href="/blog">
        Blog
      </a>
    </li>
    <li>
      <a class="<% if (title.toLowerCase() == "archive") { %>active<% } %>" href="/archive">
        Archive
      </a>
    </li>
    <li>
      <a class="<% if (title.toLowerCase() == "life") { %>active<% } %>" href="/life">
        Life
      </a>
    </li>
    <li>
      <a class="<% if (title.toLowerCase() == "projects") { %>active<% } %>" href="/projects">
        Project
      </a>
    </li>
  </ul>
</nav>
