<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<!-- navigation bar -->
<nav class="underline">
  <ul>
    <li>
      <a <% if (title.toLowerCase() == "" || flag) { %>class="active"<% } %> href="/">Blog</a>
    </li>
    <li>
      <a <% if (title.toLowerCase() == "resume") { %>class="active"<% } %> href="/resume">Resume</a>
    </li>
    <li>
      <a <% if (title.toLowerCase() == "projects") { %>class="active"<% } %> href="/projects">Projects</a>
    </li>
    <li>
      <a <% if (title.toLowerCase() == "talks") { %>class="active"<% } %> href="/talks">Talks</a>
    </li>
    <div class="dropdown">
      <button class="dropbtn">Contact</button>
      <div class="dropdown-content">
        <a href="https://linkedin.com/in/jordanngeorge" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://medium.com/@JordanGeorge" target="_blank">
          <i class="fab fa-medium fa-2x"></i>
        </a>
        <a href="https://github.com/jordangeorge" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="mailto:jordanngeorge@gmail.com">
          <i class="fas fa-at fa-2x"></i>
        </a>
      </div>
    </div>
  </ul>
</nav>
