<% include ./partials/header %>

<!-- blog content -->
<div id="content"></div>

<!-- scripts -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/blogs.js"></script>

<% include ./partials/footer %>
