<% include ./partials/header %>

<!-- blog content -->
<div id="content">
  <% posts.forEach(function(post) { %>
    <div class="post">
      <h1>
        <a href="/post/<%= post._id %>"><%= post.title %></a>
      </h1>
      <p>
        <%= post.content.substring(0, 600) + "..." %>
      </p>
    </div>
  <% }); %>
</div>

<% include ./partials/footer %>
