<% include ./partials/header %>

<!-- blog content -->
<div id="blog-content">
  <% posts.forEach(function(post) { %>
    <div class="post">
      <h1>
        <a href="/post/<%= post._id %>"><%= post.title %></a>
      </h1>
      <p>
        <%= post.content.substring(0, 600) + "..." %>
      </p>
    </div>
    <% }); %>
</div>

  <!-- scripts -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <!-- <script type="text/javascript" src="/js/config.js"></script> -->
  <!-- <script type="text/javascript" src="/js/blogs.js"></script> -->

  <% include ./partials/footer %>
