<% include ./partials/header %>

<div id="content">
  <div class="post">
    <h1>
      <%= post["title"].toLowerCase() %>
    </h1>
    <h4>
      <%=
      new Date(post["published"]).toLocaleDateString(
      "en-US",
      {year: 'numeric', month: 'long', day: 'numeric'}
      )
      %>
    </h4>
    <p>
      <%= post["content"] %>
    </p>
  </div>
</div>

<!-- disqus -->
<div id="disqus_thread" class="disqus"></div>
<script>
  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://jordangeorge.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<% include ./partials/footer %>
