<% include ./partials/header %>

<div class="post">
  <h1>
    <%= post["title"].toLowerCase() %>
  </h1>

  <h4>
    <%=
    new Date(post["published"]).toLocaleDateString(
    "en-US",
    {year: 'numeric', month: 'long', day: 'numeric'}
    )
    %>
  </h4>

  <p>
    <%- post["content"] %>
  </p>

  <% if (post["img_name"]) { %>
    <img src="/images/blog/<%= post["img_name"] %>" alt="<% post["title"] %> image">
  <% } %>
</div>

<% include ./partials/disqus %>

<% include ./partials/footer %>
