<% include ./partials/header %>

<!-- resume content -->
<div class="pdf-container">
  <object data="/pdf/Jordan George Resume8.pdf" type="application/pdf">
    <p>It appears you don't have a PDF plugin for this browser. <a href="/pdf/Jordan George Resume8.pdf">Click here to download the PDF file.</a></p>
  </object>
</div>

<% include ./partials/footer %>
