<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">

  {% if page.layout == "post" %}
    <!-- Meta properties for blog posts -->
    {% capture title %}
        {{ page.title }} &middot; {{ site.author.name }}
    {% endcapture %}
    {% capture description %}
        {{ page.content | strip_html | truncate: '250' | strip }}
    {% endcapture %}
  {% elsif page.title == "Home" %}
    <!-- Meta properties for the home page -->
    {% capture title %}
      {{ site.author.name }}
    {% endcapture %}
  {% else %}
    <!-- Meta properties for standard pages -->
    {% capture title %}
        {{ site.author.name }} &middot; {{ page.title }}
    {% endcapture %}
    {% assign description = "I am a software engineer from Louisville, KY. I study at the University of Kentucky and have previously worked at IBM." %}
  {% endif %}

  <title>{{ title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta property="description" content="{{ description }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <!-- JS -->
  {% if page.title == "Life" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/magnific-popup.css">
  {% endif %}

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
