<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="title">
        <a href="/" >{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page.url == '/' %}active{%endif%}" href="{{ site.baseurl }}/">Blog</a>
      <a class="sidebar-nav-item {% if page.url contains 'archive' %}active{%endif%}" href="{{ site.baseurl }}/archive/">Archive</a>
      <a class="sidebar-nav-item {% if page.url contains 'projects' %}active{%endif%}" href="{{ site.baseurl }}/projects/">Projects</a>
      <a class="sidebar-nav-item {% if page.url contains 'resume' %}active{%endif%}" href="{{ site.baseurl }}/resume/">Resume</a>
    </nav>

    <ul class="inline-social-btns">
        <li>
            <a href="mailto:{{ site.author.email }}" title="E-Mail link">
                <i class="fas fa-at fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.github }}" target="_blank" title="Github link">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.linkedin }}" target="_blank" title="LinkedIn link">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.medium }}" target="_blank" title="Medium link">
                <i class="fab fa-medium-m fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.angellist }}" target="_blank" title="Medium link">
                <i class="fab fa-angellist fa-2x"></i>
            </a>
        </li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
