<nav>
  <ul>
    <li>
      <a href="https://github.com/jordangeorge" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/jordanngeorge" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@JordanGeorge" target="_blank">
        <i class="fab fa-medium-m fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="mailto:jordanngeorge@gmail.com">
        <i class="fas fa-at fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://angel.co/jordangeorge" target="_blank">
        <i class="fab fa-angellist fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="/pdf/Jordan George Resume8.pdf" target="_blank">
        <i class="far fa-file-alt fa-2x"></i>
      </a>
    </li>
  </ul>
</nav>
