---
layout: page
---

{% assign rawtags = "" %}
{% for post in site.posts %}
  {% assign post_tags = post.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:post_tags %}
{% endfor %}

<hr>
{% include tag_list.html tags=rawtags %}
<hr>

<div>
  {% for tag in tags %}
    <h3 id="{{ tag | cgi_escape }}">
        <a href="#{{ tag | cgi_escape }}">{{ tag }}</a>
    </h3>

    <ul>
      {% for post in site.posts %}
        {% if post.tags contains tag %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          &middot {{ post.date | date: "%B %-d, %Y" }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
